<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/chat.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    
        <title>AI Chats</title>
    </head>
    <body>
        <div class="main">
            <div class="sidebar-left">
                <span class="sidebar-header">
                    Model
                </span>
                <div id="models"></div>
            </div>
            <div class="chat-window">
                <div class="textbox-area">
                    <img onclick="resetChat()" src="/assets/delete.png">
                    <div class="input">
                        <textarea id="textbox" rows="1" placeholder="Send a message to start the chat" oninput="expandTextbox(this.value)"></textarea>
                        <img onclick="sendMessage()" src="/assets/send.png">
                    </div>
                </div>
                <div id="messages"></div>
            </div>
        </div>
    </body>
    <script src="/scripts/chat.js"></script>
    <script src="/scripts/utils.js"></script>
</html>