body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.sidebar-left {
    width: 300px;
    min-width: 300px;
    background-color: var(--lighter);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.sidebar-left.hidden {
    margin-left: -300px;
}

#expand-models {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0px;
    background-color: var(--lighter);
    padding: 10px 5px;
    border-bottom-right-radius: var(--border-radius);
    /*border-right: 3px solid var(--main);
    border-bottom: 3px solid var(--main);*/
}

.sidebar-header {
    font-size: 110%;
    font-weight: bold;
    border-bottom: 2px solid var(--main);
}

.chat-window {
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column-reverse;
    flex: 1;
    position: relative;
}

.textbox-area {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

#fileupload {
    border-radius: var(--border-radius);
    border: 3px solid var(--lightest);
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
}

#fileupload.hidden {
    display: none;
}

#fileupload input {
    width: 100%;
}


#fileupload input::file-selector-button {
    background-color: var(--main);
    color: var(--background);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

#attachmentpreview {
    object-fit: contain;
    height: 7rem;
    border-radius: var(--border-radius);
}

#actions {
    bottom: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    border-radius: var(--border-radius);
    width: fit-content;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    height: 0px;
    z-index: 9999;
}

#actions.expanded {
    height: 132px;
}

.action {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    height: 24px;
}

.action .material-icons {
    color: var(--main);	
}

.input {
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: var(--border-radius);
    border: 3px solid var(--main);
}

.input textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    color: var(--text);
    flex: 1;
    font-family: var(--font);
    font-size: 1rem;
    border: none;
}

.input textarea:focus {
    outline: none;
}

.input i {
    height: 31px;
    font-size: 31px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

#messages {
    margin-top: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    overflow-y: auto;
    height: max-content;
    padding-right: 10px;
}

.message {
    width: 100%;
    display: flex;
    gap: 1rem;
    max-width: 1200px;
    width: 100%;
}

.message.loading .message-body > div {
    display: flex;
    gap: 5px;
    padding: 5px 0px;
}

.message.loading .message-body > div > div {
    aspect-ratio: 1/1;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--main);
    animation: loading 0.9s infinite;
}

.message.loading .message-body > div > div:nth-child(1) {animation-delay: 0ms;}
.message.loading .message-body > div > div:nth-child(2) {animation-delay: 100ms;}
.message.loading .message-body > div > div:nth-child(3) {animation-delay: 200ms;}

@keyframes loading {
    0% {
        opacity: 0.5;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.message > .pfp > img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 3rem;
    border-radius: 50%;
}

.message > .message-body > .username {
    font-size: 102%;
    font-weight: bold;
}

pre {
    padding: 5px;
    background-color: #2b2d31;
    border-radius: 5px;
}

#models {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    overflow-y: auto;
}

.model {
    border-radius: calc(1.5 * var(--border-radius));
    padding: 8px;
    border: 3px solid var(--lightest);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.model.selected {
    border: 3px solid var(--main);
}

.model > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.model > div > span {
    font-size: 105%;
    font-weight: bold;
}

.model > div > img {
    filter: invert(1);
}

.model > span:nth-child(2) {
    opacity: 80%;
}


#model-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-opaque);
    z-index: 9999;
}

#model-modal > div {
    width: 80%;
    max-width: 600px;
    background-color: var(--background);
    border: 3px solid var(--lighter);
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header img {
    aspect-ratio: 1/1;
    height: 30px;
    filter: invert(1);
    cursor: pointer;
}

#model-parameters code,
#model-parameters code:focus {
    outline: none;
}

input[type="text"] {
    padding: 8px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--lighter);
    color: var(--text);
    font-family: var(--font);
    font-size: 1rem;
}

input[type="text"]:focus {
    outline: none;
}

button {
    padding: 8px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--main);
    color: var(--background);
    font-family: var(--font);
    font-size: 1rem;
    cursor: pointer;
}

button.delete {
    background-color: var(--danger);
    color: white;
}

.expand-actions {
    cursor: pointer;
    padding: 8px;
    font-size: 31px;
    background-color: var(--main);
    color: var(--background);
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease-in-out;
    user-select: none;
}

.expand-actions.expanded {
    transform: rotateZ(-180deg);
}

@media(max-width: 720px) {
    .sidebar-left:not(.hidden) {
        margin-left: -300px;
    }

    .sidebar-left.hidden {
        margin-left: 0px;
    }
}