:root {
    --background: #222831;
    --lighter: #31363F;
    --main: #76ABAE;
    --text: #EEEEEE;

    --border-radius: 8px;

    --font: Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}