@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(/assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem; /* 24px */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

:root {
    --background: #222831;
    --background-opaque: #222831a8;
    --lighter: #31363F;
    --lightest: #4c525f;
    --main: #76ABAE;
    --text: #EEEEEE;

    --red: #f02929;
    --danger: #b90606;

    --border-radius: 8px;

    --font: Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2.5px;
}

::-webkit-scrollbar-track {
    background: var(--lighter);
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 2.5px;
}